*{
    margin: 0;
    padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: sans-serif;
  background-color: #f4f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
    background-color:#2b83db;
    padding: 24px 52px;
     text-align: center;
     margin-bottom: 40px;
     width: 100%;
     
}

 nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    /* Aplicamos la transición a 'color' y 'font-size' */
    /*ease-in: La animación comienza lentamente y luego acelera hacia el final */ 
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;

 }
 nav a:hover {
    color: #080808;
     font-size: 24px;
 }

 form {
    background-color: #fff;
    padding: 30px 80px;
    border-radius: 12px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
     width: 100%;
     max-width: 1200px;
 }

 form h2 {
    margin-bottom: 20px;
    color:#2b83db ;
    text-align: center;
 }

 form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    color: #333;
    
 }
 
 .saldo {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #2b83db;
    }

    .acciones {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .acciones button {
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #2b83db;
      color: white;
      transition: background-color 0.3s ease;
    }

    .acciones button:hover {
      background-color: #1d65b0;
    }

    .form-accion {
      display: none;
      flex-direction: column;
      margin-top: 20px;
      gap: 10px;
      align-items: center;
    }

    .form-accion.active {
      display: flex;
    }

    .form-accion input {
      padding: 10px;
      border-radius: 6px;
      font-size: 16px;
      border: 1px solid #ccc;
      width: 200px;
    }

   .form-accion button {
  background-color: #2b83db;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cerrarSesion {
      flex-direction: column;
      margin-top: 20px;
      gap: 10px;
      align-items: center;
}

 #cerrarSesion  { padding: 12px 24px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      background-color: #2b83db;
      color: white;
      transition: background-color 0.3s ease;
    }

#cerrarSesion:hover  {
      background-color: #1d65b0;
    }
  
.popup {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-contenido {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  text-align: center;
  font-size: 18px;
}

.popup button {
  margin-top: 15px;
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #218838;
}

.oculto {
  display: none;
}